# Gradle files
*.log
.cxx/
.gradle/
.kotlin/
[Bb]uild*/
local.properties

# IDE files
*.iml
.idea/*
!.idea/AndroidProjectSystem.xml
!.idea/compiler.xml
!.idea/dictionaries/
!.idea/gradle.xml
!.idea/markdown.xml
!.idea/misc.xml
!.idea/runConfigurations/
!.idea/vcs.xml

# Android build artifacts
*.aab
*.ap_
*.apk
*.apks
*.class
*.dex
*.flat
*.hprof
*.idsig
*.zip
