# AI agent artifacts
.artifacts/

# Android build artifacts
*.aab
*.ap_
*.apk
*.apks
*.class
*.dex
*.flat
*.hprof
*.idsig
*.zip

# Code coverage reports
htmlReport/

# Gradle files
bin/
[Bb]uild*/
!build-logic
.cxx/
.gradle/
.kotlin/
local.properties
*.log

# IDE files
.idea/*
!.idea/AndroidProjectSystem.xml
!.idea/codeStyles/
!.idea/compiler.xml
!.idea/dictionaries/
!.idea/gradle.xml
!.idea/inspectionProfiles/
!.idea/kotlinc.xml
!.idea/markdown.xml
!.idea/misc.xml
!.idea/runConfigurations.xml
!.idea/vcs.xml
*.iml

# Profiling artifacts
captures/
